*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  box-sizing: border-box; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

.container {
  color: white;
  font-size: 3rem;
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  @media screen and (max-width: 56.25em) {
    .container {
      grid-template-columns: [sidebar-start] 0 [sidebar-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
      grid-template-rows: 6rem 90vh repeat(2, min-content) min-content 50vw repeat(3, min-content); } }

.heading, .heading-1, .heading-2, .heading-3, .button, .heading-4, .homes .home__name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem; }
  .heading-1::first-letter {
    text-transform: uppercase; }
  .heading-1--light {
    color: #f9f7f6; }
  .heading-1--dark {
    color: #101d2c;
    font-style: italic;
    font-size: 4rem; }

.heading-2 {
  font-size: 2.5rem;
  font-style: italic; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.button {
  border: none;
  background-color: #c69963;
  color: #f9f7f6;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.75rem 3rem;
  cursor: pointer; }
  .button:hover, .button:focus {
    background-color: #B28451; }

.heading-4 {
  text-transform: capitalize;
  font-size: 2rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #101d2c; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 56.25em) {
    .sidebar {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-content: flex-end; } }
  .sidebar .nav-btn {
    width: 5rem;
    height: 2px;
    background-color: #f9f7f6;
    display: inline-block;
    margin-top: 4rem;
    position: relative; }
    @media screen and (max-width: 56.25em) {
      .sidebar .nav-btn {
        width: 4rem;
        margin-top: 3rem;
        margin-right: 2rem; } }
    .sidebar .nav-btn::before, .sidebar .nav-btn::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border: 0;
      background-color: #f9f7f6; }
    .sidebar .nav-btn::before {
      top: -1.5rem; }
      @media screen and (max-width: 56.25em) {
        .sidebar .nav-btn::before {
          top: -1rem; } }
    .sidebar .nav-btn::after {
      top: 1.5rem; }
      @media screen and (max-width: 56.25em) {
        .sidebar .nav-btn::after {
          top: 1rem; } }

.header {
  grid-row: 1 / 2;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(to left, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)), url(../img/house-1.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) min-content 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  padding: 7rem;
  padding-bottom: 8rem;
  justify-content: center; }
  @media screen and (max-width: 56.25em) {
    .header {
      grid-row: 2 / 3;
      grid-column: sidebar-start / full-end; } }
  .header .button {
    justify-self: start; }

.heading__logo {
  height: 3rem;
  justify-self: center; }

.heading__seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 2rem; }
  @media screen and (max-width: 25em) {
    .heading__seenon-logos {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem; } }
  .heading__seenon-logos .seenon-logo__photo {
    filter: brightness(0.7);
    height: 2.75rem;
    max-width: 100%; }
    @media screen and (max-width: 56.25em) {
      .heading__seenon-logos .seenon-logo__photo {
        height: 2rem; } }

.heading__seenon {
  align-self: flex-end;
  font-size: 1.5rem;
  filter: brightness(0.7);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1rem;
  align-items: center; }
  .heading__seenon::before, .heading__seenon::after {
    content: "";
    height: 1px;
    border: 0.5px solid white; }

.realtors {
  background-color: #101d2c;
  grid-row: 1 / 2;
  grid-column: col-start 7 / -1;
  display: grid;
  row-gap: 4rem;
  padding: 6rem;
  justify-content: center;
  align-content: center;
  justify-items: center; }
  @media screen and (max-width: 56.25em) {
    .realtors {
      grid-row: 3 / 4;
      grid-column: sidebar-start / full-end; } }
  .realtors__list {
    list-style: none;
    display: grid;
    grid-row: 2 / span 3;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    justify-content: center; }
    @media screen and (max-width: 56.25em) {
      .realtors__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        column-gap: 4rem; } }
    @media screen and (max-width: 37.5em) {
      .realtors__list {
        grid-template-columns: 1fr;
        column-gap: 4rem; } }
  .realtors__item {
    display: flex;
    align-items: center; }
  .realtors__img {
    height: 7rem;
    border-radius: 50%;
    border: 2px solid #6D5D4B;
    margin-right: 2rem; }
  .realtors__details--sold {
    text-transform: uppercase;
    color: #aaa;
    font-size: 1rem;
    font-weight: 600; }
  .realtors .heading-3 {
    text-align: center; }

.features {
  margin: 20rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 5rem;
  row-gap: 5rem; }
  .features .heading-4 {
    text-transform: none; }
  .features .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    align-content: flex-start; }
    .features .feature__icon {
      margin-top: -1rem;
      height: 5rem;
      width: 5rem;
      fill: #c69963;
      grid-row: 1 / span 2; }
    .features .feature__text {
      color: #54483A;
      font-size: 1.7rem; }

.story__pictures {
  background-image: linear-gradient(to right, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  grid-column: 2 / col-start 5;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 56.25em) {
    .story__pictures {
      grid-column: 1 / -1;
      grid-row: 6 / span 1; } }

.story__img {
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%; }
  .story__img--1 {
    width: 70%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 56.25em) {
      .story__img--1 {
        width: 50%;
        left: 35%; } }
  .story__img--2 {
    width: 60%; }
    @media screen and (max-width: 56.25em) {
      .story__img--2 {
        width: 40%; } }

.story__content {
  background-color: rgba(198, 153, 99, 0.1);
  padding: 20rem 15rem;
  display: grid;
  grid-column: col-start 5 / -1;
  grid-template-rows: auto-fit;
  row-gap: 1rem;
  align-items: center;
  justify-items: start;
  align-content: center; }
  @media screen and (max-width: 93.75em) {
    .story__content {
      padding: 15rem 10rem; } }
  @media screen and (max-width: 56.25em) {
    .story__content {
      grid-row: 5 / span 1;
      grid-column: 1 / -1;
      padding: 10rem 5rem; } }

.story__text {
  color: #6D5D4B;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 7rem;
  column-gap: 7rem; }
  @media screen and (max-width: 56.25em) {
    .homes {
      column-gap: 4rem;
      row-gap: 4rem; } }
  .homes .home {
    background-color: rgba(109, 93, 75, 0.05);
    display: grid;
    row-gap: 4rem; }
    .homes .home__name {
      background-color: #101d2c;
      color: #f9f7f6;
      font-size: 1.75rem;
      padding: 1.5rem 1rem;
      text-align: center;
      width: 80%;
      transform: translateY(50%);
      justify-self: center;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      align-self: end; }
    .homes .home__img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 / -1; }
    .homes .home__details {
      color: #6D5D4B;
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
      margin-top: 2rem; }
      .homes .home__details > * {
        margin-left: 4rem; }

.galary {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  row-gap: 2rem;
  column-gap: 2rem; }
  .galary__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .galary__item--1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .galary__item--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3; }
  .galary__item--3 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 2; }
  .galary__item--4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2; }
  .galary__item--5 {
    grid-column: 8 / span 1;
    grid-row: 6 / span 2; }
  .galary__item--6 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3; }
  .galary__item--7 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2; }
  .galary__item--8 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1; }
  .galary__item--9 {
    grid-column: 6 / span 2;
    grid-row: 3 / span 2; }
  .galary__item--10 {
    grid-column: -2 / span 1;
    grid-row: 3 / span 3; }
  .galary__item--11 {
    grid-column: 5 / span 3;
    grid-row: 5 / span 3; }
  .galary__item--12 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 2; }
  .galary__item--13 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2; }
  .galary__item--14 {
    grid-column: 4 / span 1;
    grid-row: 6 / span 2; }

.footer {
  background-color: #101d2c;
  padding: 8rem;
  text-align: center;
  grid-column: sidebar-end / full-end;
  display: grid;
  grid-template-rows: repeat(2, 1fr); }
  .footer__nav {
    font-weight: 300;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 2rem;
    justify-items: center;
    align-items: center; }
    @media screen and (max-width: 75em) {
      .footer__nav {
        grid-template-columns: repeat(3, minmax(15rem, 1fr)); } }
    @media screen and (max-width: 56.25em) {
      .footer__nav {
        grid-template-columns: repeat(2, minmax(10rem, 1fr)); } }
  .footer__link, .footer__link:link, .footer__link:visited {
    padding: 2rem 2rem;
    color: #f9f7f6;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-4px); }
  .footer__copyright {
    font-size: 1.5rem;
    color: #aaa;
    margin: 5rem 20rem 0; }
    @media screen and (max-width: 56.25em) {
      .footer__copyright {
        margin: 5rem; } }
